* {
    margin: 0;
}

h1 {
    font-family: 'Fraunces';
    font-weight: 600;
    font-size: 100px;
    color: #242F65;
}

h3 {
    font-family: 'Fraunces';
    font-weight: 600;
    color: #242F65;
    font-size: 40px;
    margin-bottom: 25px;
}

h5 {
    font-family: 'Fraunces';
    font-weight: 600;
    font-size: 30px;
    color: #242F65;
    margin-bottom: 18px;
}

p {
    color: #525665;
    font-size: 20px;
    font-family: 'Mulish';
    font-weight: 500;
}


/* HEADER */
.header {
    margin: 40px 250px 50px 250px;
    display: flex;
    align-items: center;
    position: relative;
}

.header_logo > span {
    font-size: 37px;
}

.header_menu {
    display: flex;
    list-style: none;
    font-size: 20px;
    position: absolute;
    right: 0%;
}

.header_menu_el {
    a {
        text-decoration: none;
        color: black;
    }
    margin-right: 60px;
}


/* Заголовок */
.title {
    position: relative;
    width: 90vw;
    height: 90vh;
    left: 50%;
    transform: translate(-50%);
    background-image: url('./static/images/Background.png');
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.title_text {
    position: relative;
    top: 3%;
    text-align: center;
    margin-bottom: 90px;
}


.title_text > span {
    font-size: 50px;
    color: #242F65;
}


/* Blocks'es Titles */
.block_title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 65px;
}

.block-line {
    border-bottom: 1px solid #cccccc;
    height: 1px;
    width: 28vw;
}

.block_title_text {
    padding: 0px 32px 0px 32px;
    height: 40px;
    color: #242F65;
    font-size: 20px;
    display: flex;
    align-items: center;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}


/* Work Tabs */
.work {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: inline-block;
    margin-bottom: 150px;
}

.work_tab {
    position: relative;
    background-size: cover;
    width: 100%;
    height: 558px;
    display: flex;
    align-items: center;
    margin-bottom: 150px;
}

.work_tab_content {
    width: 36%;
    height: 62%;
    margin-left: 5.9%;
}

.work_dsc {
    margin-bottom: 45px;
    display: block;
}

.work_tag {
    display: inline-block;
    font-size: 18px;
    padding: 11px 25px 11px 25px;
    border-radius: 10px;
    margin-right: 12px;
    margin-bottom: 25px;
}

.work_link {
    font-size: 18px;
    padding: 20px 38px 20px 38px;
    background-color: #FF774C;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

.tag1 {
    background-color: #d9deee;
    color: #6878A7;
}

.tag2 {
    background-color: #DFDFDF;
    color: #525665;
}

.tag3 {
    background-color: white;
    color: #5AB5D1;
}

.tag4 {
    background-color: #ECCFB8;
    color: #AE7E56;
}

.soon_tabs {
    display: flex;
}

.soon-img {
    margin-bottom: 36px;
}

.soon_link {
    font-family: 'Mulish';
    font-weight: 500;
    color: white;
    padding: 19px 26px 19px 26px;
    background-color: #BBBBBB;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
}

.soon_dsc {
    margin-bottom: 35px;
}


/* About Me Tab */
.about-me-bg {
    width: 100%;
    background-color: #E8EFF0;
    padding-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 125px;
}

.about-me-content {
    position: relative;
    margin-bottom: 220px;
    display: flex;
}

.about-me-content p {
    position: relative;
    transform: translate(0, 5px);
    width: 50%;
}

.about-me-img {
    position: absolute;
    right: 0px;
    border-radius: 30px;
}


/* Services Tab */

.services {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 120px;
}

.services-content {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 25px;
}

.services-tab {
    border-radius: 20px;
    border: 1px solid #E0E0E0;
    width: 330px;
    height: 270px;
    padding: 50px 36px 50px 36px;
}

.services img {
    margin-bottom: 26px;
}

.services h5 {
    margin-bottom: 13px;
}

.services p {
    margin-bottom: 29px;
}

.services-list {
    padding-left: 20px;
    font-family: 'Mulish';
    font-weight: 600;
    font-size: 20px;
    list-style-image: url('/static/images/Pattern.png');
}

.services li {
    margin-bottom: 10px;
}


/* Requests */

.requests {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: inline-block;
    margin-bottom: 150px;
}

.requests-content {
    width: min-content;
    min-width: fit-content;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: #FFF4F0;
    padding: 100px 100px 100px 100px;
    flex: 1;

    h3 {
        margin-bottom: 60px;
    }
}

.request {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    column-gap: 25px;
    row-gap: 4px;
}

.request-name {
    display: flex;
    justify-content: center;
    flex-direction: column;
    h6 {
        font-family: 'Fraunces';
        font-weight: 600;
        font-size: 25px;
        color: #242F65;
        margin-bottom: 5px;
    } 
}

.request-logo {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.request-line {
    height: 45px;
    width: 75%;
    border-bottom: 1px solid #D0A798;
    margin-bottom: 50px;
}

/* News */

.news {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: inline-block;
    margin-bottom: 150px;
}

.news-content {
    width: min-content;
    min-width: fit-content;
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 40px;
}

.news-img {
    border-radius: 20px;
    margin-bottom: 30px;
}

.news-tab {
    display: block;
}

.news-dsc {
    margin-bottom: 50px;
}

.news-date {
    margin-bottom: 15px;
}


.news-tab a {
    text-decoration: none;
    color:#242F65;
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 18px;
}